*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: #212121
}
.card{
    height: 80%;
    width: 40vw;
    min-width: 30rem;
    background:linear-gradient(135deg,rgb(64, 64, 122),rgb(131, 173, 187));
    position: absolute;
    top: 10%;
    left: 30vw;
    border-radius: 10px;
    align-content: center;
}
.search{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.search input{
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 20px 30px;
}
.search img{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 2.5rem;
    margin-top: 5px;
}
.details-cont{
    height: 80%;
}
.weather{
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.weather-img{
    height: 40%;
}
.weather-img img{
    height: 100%;
    align-self: center;
}
.weather-temp{
    height: 30%;
    align-content: center;
    font-size: 50pt;
    color: #fff;
}
.weather-city{
    height: 30%;
    font-size: 35pt;
    align-content: center;
    color: #fff;
}
.weather-additonal{
    height: 20%;
    display: flex;
    justify-content: space-around;
}
.humidity{
    width: 40%;
    height: 100%;
    display: flex;
    margin-top: 30px;
}
.humidity img{
    height: 50px;
}
.humidity-details{
    font-size: 11pt;
    color: #fff;
    margin-left: 20px;
}
.wind-speed{
    width: 40% ;
    height: 100%;
    margin-top: 30px;
    display: flex;
}
.wind-speed img{
    height: 50px;
}
.wind-speed-details{
    font-size: 11pt;
    color: #fff;
    margin-left: 20px;
}